
<div class='comments'>
  <% @comments.each do |comment| %>
  <%= render :partial => 'comment', :locals => { :comment => comment } %>
  <% end %>
</div>

<div class='origin'><a href='<%= @entry.url %>'><%=t '.origin' %></a></div>
